.header-wrap, body .header .header-wrap, body .footer .footer-wrap {
  max-width: 1227px;
  margin: 0 auto; }

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #fff; }
  body .header {
    background-image: url(../img/m-h-day.jpg);
    background-repeat: no-repeat;
    background-position: 50% 48% !important;
    height: 725px;
    background-position: bottom;
    border-radius: 0 0 41% 0 / 35%;
    background-size: cover; }
    body .header .header-wrap .landing-logo, body .header .footer .footer-wrap .landing-logo, body .footer .header .footer-wrap .landing-logo {
      display: flex;
      align-items: center;
      font-weight: 800;
      font-family: "Hind", sans-serif;
      text-align: center;
      color: #2c2f3c; }
      body .header .header-wrap .landing-logo p, body .header .footer .footer-wrap .landing-logo p, body .footer .header .footer-wrap .landing-logo p {
        font-size: 23px;
        width: 96px;
        line-height: 20px;
        padding-top: 7px; }
      body .header .header-wrap .landing-logo span, body .header .footer .footer-wrap .landing-logo span, body .footer .header .footer-wrap .landing-logo span {
        display: block;
        font-size: 10px; }
    body .header_heading {
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: bold;
      font-size: 70px;
      color: #2c2f3c;
      letter-spacing: 1px;
      width: 600px;
      line-height: 72px;
      margin-top: 49px;
      margin-bottom: 35px;
      position: relative;
      z-index: 1; }
      body .header_heading:before {
        content: "";
        background-color: #14a0c7;
        position: absolute;
        height: 50px;
        width: 301px;
        bottom: 0;
        z-index: -1; }
    body .header_text {
      width: 680px;
      font-family: "Hind", sans-serif;
      line-height: 24px;
      white-space: pre-line;
      margin-bottom: 61px;
      word-spacing: 1px;
      letter-spacing: .001rem;
      color: #2c2f3c;
      z-index: 2; }
    body .header_button {
      background-color: #699900;
      color: #f2f3f7;
      width: 141px;
      height: 48px;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 18px;
      border: none;
      outline: none; }
    body .header .login {
      margin-left: 149px;
      color: #fff;
      font-size: 20px;
      font-family: "Source Sans Pro", sans-serif; }
  body .section {
    position: relative; }
    body .section_text {
      text-align: center;
      font-size: 42px;
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      color: #2c2f3c;
      margin: 0 auto;
      margin-top: 36px;
      width: 418px;
      position: relative; }
      body .section_text:after {
        content: "";
        background-color: #14a0c7;
        position: absolute;
        height: 49px;
        width: 188px;
        bottom: 9px;
        right: 13px;
        z-index: -1; }
    body .section_card_wrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 37px;
      margin-bottom: 185px; }
      body .section_card_wrap .section_card {
        width: 860px;
        padding: 20px;
        border-radius: 5px;
        background-color: #21232e;
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px; }
        body .section_card_wrap .section_card:nth-child(1) .section_card_img {
          width: 297px;
          height: 235px; }
        body .section_card_wrap .section_card:nth-child(1) .section_card_right_container {
          width: 401px; }
        body .section_card_wrap .section_card:nth-child(2) .section_card_img {
          width: 286px;
          height: 236px; }
        body .section_card_wrap .section_card:nth-child(2) .section_card_right_container {
          width: 413px; }
        body .section_card_wrap .section_card:nth-child(3) .section_card_img {
          width: 320px;
          height: 236px; }
        body .section_card_wrap .section_card:nth-child(3) .section_card_right_container {
          width: 386px; }
        body .section_card_wrap .section_card img {
          border-radius: 5px; }
        body .section_card_wrap .section_card_right_container {
          color: #b6c3ce;
          margin-right: 80px;
          text-align: center; }
          body .section_card_wrap .section_card_right_container a {
            color: #c0c3c4;
            font-size: 16px;
            font-family: "Hind", sans-serif; }
        body .section_card_wrap .section_card_heading {
          text-align: center;
          font-size: 24px;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 600;
          color: #fff;
          margin-top: 28px;
          margin-bottom: 21px; }
        body .section_card_wrap .section_card_text {
          font-family: "Hind", sans-serif;
          text-align: justify;
          margin-top: 0;
          margin-bottom: 10px;
          line-height: 24px; }
        body .section_card_wrap .section_card_link {
          color: #2c2f3c;
          font-size: 20px;
          font-family: "Source Sans Pro", sans-serif; }
    body .section_banner {
      border-radius: 5px;
      width: 755px;
      margin: 0 auto;
      background-image: linear-gradient(to right, #699901, #2c5ade);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 24px 102px;
      position: absolute;
      bottom: -259px;
      left: 50%;
      transform: translateX(-50%); }
      body .section_banner_heading {
        font-size: 30px;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 700;
        width: 500px;
        color: #2c2f3c;
        margin: 0;
        margin-bottom: 17px;
        position: relative;
        z-index: 2; }
        body .section_banner_heading:before {
          content: "";
          background-color: #14a0c7;
          position: absolute;
          height: 49px;
          width: 64px;
          top: -11px;
          left: 120px;
          z-index: -1; }
      body .section_banner_text {
        font-family: "Hind", sans-serif;
        color: #bdbdc2; }
      body .section_banner_button {
        background-color: #699900;
        color: #f2f3f7;
        width: 141px;
        height: 48px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        font-size: 18px;
        border: none;
        outline: none; }
  body .footer {
    background-color: #21232e;
    height: 242px;
    color: #c0c3ce; }
    body .footer .footer-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 112px; }
      body .footer .footer-wrap .landing-logo {
        display: flex;
        align-items: center;
        font-weight: 800;
        font-family: "Hind", sans-serif;
        text-align: center; }
        body .footer .footer-wrap .landing-logo p {
          font-size: 23px;
          width: 96px;
          line-height: 20px;
          padding-top: 7px;
          color: #c0c3ce; }
        body .footer .footer-wrap .landing-logo span {
          display: block;
          font-size: 10px; }
      body .footer .footer-wrap .footer_text {
        width: 313px;
        font-family: "Hind", sans-serif;
        font-size: 14px;
        line-height: 20px; }
      body .footer .footer-wrap span {
        font-family: "Hind", sans-serif; }
