body{
    padding-left: 50px;
}
ul {
    list-style: none;
    padding: 0;
}
span input {
    border: none;
    width: 80px;
    padding: 5px;
    outline: none;
}
li input, li button {
    border-radius: 0;
    padding: 5px;
    margin: 0;
}
.btn:hover {
    background-color: aquamarine;
    cursor: pointer;
}
.status {
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: lightgrey;
    border: 1px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    text-align: center;
    line-height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
}